.hidden {
    display: none;
}


:root {
    --font-family: poppins, sans-serif;
    --second-family: inter;
    --third-family: montserrat;
    --color-fonts: #22343d;
    --background-button-dark: #02897a;
    --background-button-light: #fff;
    --color-button-light: #173a56;
    --color-button-dark: #fff;
    --border-button-light: 1px solid #bcd0e5;
    --icon-cursor: #02897a;
    --icon-huk: #4d8dff;
    --icon-heart: #740a76;
    --icon-clock: #f03e3d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}
ul {
    list-style: none;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: var(--color-fonts);
}
h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--color-fonts);
}
h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: var(--color-fonts);
}
.icon-pict {
    flex-shrink: 0;
}
.container {
    max-width: 411px;
    padding: 0 20px;
    margin: 0 auto;
}
@media screen and (min-width: 1110px) {
    .container {
        max-width: 1110px;    
    }
}

/* #region Product was Built Specifically for You */
.product {
    padding-top: 100px;
}
.product .container {
    align-items: center;
}
.product-title {
    text-align: center;
    margin-bottom: 50px;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}
.product-list-item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.product-list-item-title {
    text-align: center;
}
.product-list-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
    margin-top: 8px;
    text-align: center;
}
.icon-product {
    fill: #fff;
}
.icon-product-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 19px;
}
.product-list-item:nth-child(1) .icon-product-color {
    background-color: var(--icon-cursor);
}
.product-list-item:nth-child(2) .icon-product-color {
    background-color: var(--icon-huk);
}
.product-list-item:nth-child(3) .icon-product-color {
    background-color: var(--icon-heart);
}
.product-list-item:nth-child(4) .icon-product-color {
    background-color: var(--icon-clock);
}
.product-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 175px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin: 32px auto 0 auto;
    cursor: pointer;
}
.product-button:hover,
.product-button:focus {
    transform: scale(0.95);
    transition: transform 100ms;
}
@media screen and (min-width: 1110px) {
    .product-title {        
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;
    }    
    .product-list {        
        flex-direction: row;
        gap: 30px;
        align-items: flex-start;
    }
    .product-list-item {        
        align-items: flex-start;        
    }
    .product-list-item-title {
        text-align: left;
    }
    .product-list-item-text {
        text-align: left;
    }
}
/* #endregion Product was Built Specifically for You */
/* #region Work at the speed of thought */

.thought {
    padding-top: 28px;
}
.thought .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.thought .icon-pict {
    width: 338px;
    height: 311px;
}
.thought-content {
    width: 100%;
}
.thought-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--color-fonts);
    margin-top: 16px;
    margin-bottom: 32px;
}
.thought-button-list {
    display: flex;
    align-items: center;
    gap: 28px;
}
.thought-button-get_st {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 142px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.thought-button-tri {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 138px;
    height: 23px;
    border: none;
    background-color: var(--background-button-light);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--background-button-dark);
    cursor: pointer;
}
.thought-button-get_st:hover,
.thought-button-get_st:focus,
.thought-button-tri:hover,
.thought-button-tri:focus {
    transform: scale(0.95);
    transition: transform 100ms;
}
.thought-content-img {
    align-items: center;
}
@media screen and (min-width: 1110px) {
    .thought .container {            
        flex-direction: row;
        gap: 36px;
    }
    .thought .icon-pict {
        width: 610px;
        height: 555px;
    }
    .thought-content {
        width: 411px;        
    }
    .thought-content p {        
        margin-top: 16px;
        margin-bottom: 48px;
    }
}
/* #endregion Work at the speed of thought */
/* #region Management */
.management {
    padding-top: 100px;
}
.management .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
}
.management-content {
    width: 334px;
}
.management-content h3 {
    font-size: 16px;
}
.management-content h2 {
    margin-top: 8px;
}
.management-content-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
    margin-top: 16px;
    margin-bottom: 16px;
}
.management-content-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.management-content-list-item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
}
.management-content-list-item h3 {
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 12px;
}
.management .icon-pict {
    width: 349px;
    height: 306px;
}
/* #endregion Management */