.hidden {
    display: none;
}


:root {
    --font-family: poppins, sans-serif;
    --second-family: inter;
    --third-family: montserrat;
    --color-fonts: #22343d;
    --background-button-dark: #02897a;
    --background-button-light: #fff;
    --color-button-light: #173a56;
    --color-button-dark: #fff;
    --border-button-light: 1px solid #bcd0e5;
    --icon-cursor: #02897a;
    --icon-huk: #4d8dff;
    --icon-heart: #740a76;
    --icon-clock: #f03e3d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}
ul {
    list-style: none;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: var(--color-fonts);
}
h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: var(--color-fonts);
}
h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: var(--color-fonts);
}
.icon-pict {
    flex-shrink: 0;
}
.container {
    max-width: 411px;
    padding: 0 20px;
    margin: 0 auto;
}
@media screen and (min-width: 1110px) {
    .container {
        max-width: 1110px;    
    }
}

/* #region Work at the speed of thought */

.thought {
    padding-top: 28px;
}

.thought .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.thought .icon-pict {
    width: 338px;
    height: 311px;
}

.thought-content {
    width: 100%;
}

.thought-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--color-fonts);
    margin-top: 16px;
    margin-bottom: 32px;
}

.thought-button-list {
    display: flex;
    align-items: center;
    gap: 28px;
}

.thought-button-get_st {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 142px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.thought-button-tri {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 138px;
    height: 23px;
    border: none;
    background-color: var(--background-button-light);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--background-button-dark);
    cursor: pointer;
}

.thought-button-get_st:hover,
.thought-button-get_st:focus,
.thought-button-tri:hover,
.thought-button-tri:focus {
    transform: scale(0.95);
    transition: transform 100ms;
}

.thought-content-img {
    align-items: center;
}

@media screen and (min-width: 1110px) {
    .thought .container {
        flex-direction: row;
        gap: 36px;
    }

    .thought .icon-pict {
        width: 610px;
        height: 555px;
    }

    .thought-content {
        width: 411px;
    }

    .thought-content p {
        margin-top: 16px;
        margin-bottom: 48px;
    }
}

/* #endregion Work at the speed of thought */

/* #region Product was Built Specifically for You */
.product {
    padding-top: 100px;
}
.product .container {
    align-items: center;
}
.product-title {
    text-align: center;
    margin-bottom: 50px;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}
.product-list-item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.product-list-item-title {
    text-align: center;
}
.product-list-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
    margin-top: 8px;
    text-align: center;
}
.icon-product {
    fill: #fff;
}
.icon-product-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 19px;
}
.product-list-item:nth-child(1) .icon-product-color {
    background-color: var(--icon-cursor);
}
.product-list-item:nth-child(2) .icon-product-color {
    background-color: var(--icon-huk);
}
.product-list-item:nth-child(3) .icon-product-color {
    background-color: var(--icon-heart);
}
.product-list-item:nth-child(4) .icon-product-color {
    background-color: var(--icon-clock);
}
.product-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 175px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin: 32px auto 0 auto;
    cursor: pointer;
}
.product-button:hover,
.product-button:focus {
    transform: scale(0.95);
    transition: transform 100ms;
}
@media screen and (min-width: 1110px) {
    .product-title {        
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;
    }    
    .product-list {        
        flex-direction: row;
        gap: 30px;
        align-items: flex-start;
    }
    .product-list-item {        
        align-items: flex-start;        
    }
    .product-list-item-title {
        text-align: left;
    }
    .product-list-item-text {
        text-align: left;
    }
}
/* #endregion Product was Built Specifically for You */

/* #region Management */

.management {
    padding-top: 100px;
}
.management .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
}
.management-content {
    width: 334px;
}
.management-content h3 {
    font-size: 16px;
}
.management-content h2 {
    margin-top: 8px;
}
.management-content-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
    margin-top: 16px;
    margin-bottom: 16px;
}
.management-content-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.management-content-list-item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
}
.management-content-list-item h3 {
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 12px;
}
.management .icon-pict {
    width: 349px;
    height: 306px;
}
@media screen and (min-width: 1110px) {
    .management .container {
        display: flex;
        flex-direction: row;
        gap: 84px;
    }
    .management-content {
        width: 486px;        
    }
    .management-content-p {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .management-content-list {
        gap: 24px;
    }
    .management .icon-pict {
        width: 540px;
        height: 500px;
    }
    .management-content-list {
        gap: 24px;
    }
}
/* #endregion Management */

/* #region Customer Support */
.support {
    padding-top: 100px;
}
.support .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.support .icon-pict {
    width: 350px;
    height: 320px;
}
.support-content {
    width: 324px;    
}
.support-content h3 {
    font-size: 16px;
}
.support-content h2 {
    margin-top: 8px;
}
.support-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    margin-top: 16px;
    margin-bottom: 16px;
}
.support-content-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.support-content-list-item {
    display: flex;
    align-items: center;
    gap: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}
.icon-support {
    fill: #fff;
}
.icon-support-color {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}
.support-content-list-item:nth-child(1) .icon-support-color {
    background-color: #f90;
}
.support-content-list-item:nth-child(2) .icon-support-color {
    background-color: #f03e3d;
}
.support-content-list-item:nth-child(3) .icon-support-color {
    background-color: #4d8dff;
}
@media screen and (min-width: 1110px) {
    .support .container {
        flex-direction: row;
        justify-content: center;
        gap: 50px;        
    }
    .support-content {
        width: 450px;
    }
    .support-p {        
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .support .icon-pict {
        width: 540px;
        height: 500px;
    }
    .support-content-list {        
        gap: 24px;
    }
    .support-p {        
        margin-top: 24px;
        margin-bottom: 30px;
    }
}
/* #endregion Customer Support */

/* #region Collaborative */
.collaborative {
    padding-top: 100px;
}

.collaborative .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
}

.collaborative-content {
    width: 334px;
}

.collaborative-content h3 {
    font-size: 16px;
}

.collaborative-content h2 {
    margin-top: 8px;
}

.collaborative-content-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
    margin-top: 16px;
    margin-bottom: 16px;
}

.collaborative-content-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.collaborative-content-list-item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
}

.collaborative-content-list-item h3 {
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 12px;
}

.collaborative .icon-pict {
    width: 349px;
    height: 306px;
}

@media screen and (min-width: 1110px) {
    .collaborative .container {
        display: flex;
        flex-direction: row;
        gap: 84px;
    }

    .collaborative-content {
        width: 486px;
    }

    .collaborative-content-p {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .collaborative-content-list {
        gap: 24px;
    }

    .collaborative .icon-pict {
        width: 540px;
        height: 500px;
    }

    .collaborative-content-list {
        gap: 24px;
    }
}
/* #endregion Collaborative */

/* #region Quick & Easy Process */
.process {
    padding-top: 100px;
}
.process .container {
    width: 350px;
}
.process-title {
    text-align: center;
    margin-bottom: 8px;
}
.process-title-p {
    text-align: center;    
    margin: 0 auto 40px auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
}
.process-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}
.process-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.process-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 64px;
    padding: 0 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #2f281e;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}
.process-list-item:nth-child(1) {
    order: 1;
}
.process-list-item:nth-child(2) {
    order: 4;
}
.process-list-item:nth-child(3) {
    order: 2;
}
.process-list-item:nth-child(4) {
    order: 3;
}
.process-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 216px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin: 32px auto 0 auto;
    cursor: pointer;
}
.process-button:hover,
.process-button:focus {
    transform: scale(0.95);
    transition: transform 100ms;
}
@media screen and (min-width: 1110px) {
    .process .container {        
        width: 956px;
    }
    .process-title {        
        margin-bottom: 24px;
    }
    .process-title-p {        
        max-width: 542px;
    }
    .process-list {        
        gap: 24px 100px;
    }
    .process-list-item {   
        justify-content: space-between;
        gap: 20px;
        width: auto;
    }
    .process-text {             
        width: auto;
        height: 50px;
        padding: 0 25px;
        border-radius: 25px;
    }    
    .process-list-item:nth-child(2) {
        order: 2;
    }
    .process-list-item:nth-child(3) {
        order: 3;
    }
    .process-list-item:nth-child(4) {
        order: 4;
    }
}
/* #endregion Quick & Easy Process */

/* #region Contents Strategies */
.strateg {
    padding-top: 100px;
}
.strateg .container {
    padding: 0 20px 0 20px;
}
.strateg-title {
    text-align: center;
}
.strateg-title-p {
    font-family: var(--font-family);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-fonts);
}
.strateg-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.strateg-list-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    width: 350px;
    flex-shrink: 0;
}
.strateg-list-item-text {
    padding: 24px;
}
.strateg-list-item p {
    font-family: var(--font-family);
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-fonts);
}
.strateg-list-item span {
    font-weight: 700;
}
.strateg-list-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}
.strateg-list-item:nth-child(2) h3 {
    color: var(--background-button-dark);
}
.strateg-list-item img {
    max-width: 100%;
}
@media screen and (min-width: 1110px) {
    .strateg-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 30px;
    }
}
/* #endregion Contents Strategies */